.wp-page
{
max-width: none;
}

.bdy
{
padding-left:0;
padding-right:0;
}

.page-wrap {
	padding:2rem 0;
	margin-top: 5vh;
	margin-bottom: 2vh;
}

.page-wrap h1 {
	padding-top:50px;
}

.elementor{
	padding-top:30px;
}
.body {
overflow-x: hidden;
	margin: 0;
	padding-top: 40px;
}

html, body {
    overflow-x: hidden;
}

.elementor-post__read-more:hover {
    background: #D7F7F0;
}

/*WPML*/
.wpml-ls-legacy-dropdown-click {
	float:right;
}
/*Hubspot*/
.hubspot .ui-app .hubspot-disable-focus-styles
{
	display:none;
}
/* Apply Figtree to body */
body {
    font-family: 'Figtree', sans-serif;
    font-size: 1rem; /* Adjust size if needed */
    line-height: 1.6; /* Enhance readability */
    color: #333; /* Optional: Customize text color */
}

/* Apply Mulish to headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700; /* Bold for emphasis */
}

/* Optional: Fine-tune specific elements */
p {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

header {
	background:transparent;
	width:100%;
	/*height:100px;*/
	border-bottom: 1px solid #333;
    position: sticky;
    top: 32px;
    z-index: 999;
}

.navbar{
/*set bottom border and shadow below & behind*/
/*box-shadow: 0px 7px 20px 2px gray;*/
}

header .container {
	display:flex;
	justify-content: space-between;
	align-items:center;
	height:100%;
}

.navbar-brand{
	width:120px;
	display: inline;
	padding-bottom: 20px;
	/*margin-right: auto;*/
}

header .navbar .navbar-brand img {
	max-width: 120px;
	  overflow: hidden;
	  object-fit: contain;
	  object-position: center;
		background-size: contain;
}



header .bdmenu {
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: flex-end;
}
header .bdmenu li a {
	padding: 10px 10px 10px 10px;
	color:#000000;
	text-decoration:none;
	width: 100%;
	border-radius: 10px;
}

header .bdmenu li a:hover {
	background:#26B899;
	color:#fff !important;
	transition-duration: 0.5s;
	border-radius: 2px;
}

header .bdmenu li {
	position:relative;
	padding: 10px 10px 10px 10px;
}


header .bdmenu li .sub-menu {
	position:absolute;
	z-index:999;
	top:100%;
	left:0;
	background:#fff;
	box-shadow:1px 1px 10px rgba(0,0,0,0.1);
	margin:0;
	padding:0;
	list-style-type:none;
	width:200px;
	border-radius:.5rem;
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

header .bdmenu li .sub-menu a {
	text-align:left;
	display:block;
	text-decoration:none;
}

header .bdmenu li .sub-menu a:hover {
	color:#26B899 !important;
	background-color: #fff;
}

header .bdmenu li.menu-item-has-children.open > .sub-menu {
  max-height: 500px; /* Adjust this value to be enough to show the submenu items */
  opacity: 1;
}




.offcanvas-body
{
	padding:0px;
}
header .offcanvas-body .bdmenu ul a {
	transition-duration: 500ms;
}

/*transition header edits*/
header .offcanvas-body .bdmenu li a:hover {
	color:#4ab499 !important;
	transition-duration: 500ms;
}

.menubtns a .btn,
.mobilebtns a .btn
 {
	width: -webkit-fill-available;
	padding:10px;
}

.btn-outline-success:hover {
	background-color: #D7F7F0;
	color:#26B899;
}

.btn-success {
	background-color: #4ab499;
}
.seperate{
	border-top: 1px solid #000000;
	opacity: 1;
}

/* Default state for parent menu items */
header .bdmenu li.menu-item-has-children > a::after {
	content: ''; /* Clear content as we're using background */
    display: inline-block; /* Treat as inline element */
    width: 10px; /* Adjust arrow size */
    height: 10px;
    margin-left: 8px; /* Space between text and arrow */
    background-image: url('../images/angle-down-solid.svg'); /* Path to your SVG */
    background-repeat: no-repeat;
    background-size: contain; /* Scale to fit */
    transition: transform 0.5s ease; /* Smooth animation */
}

/* Active state: Rotate the arrow */
header .bdmenu li.menu-item-has-children.active > a::after {
	transform: rotate(180deg); /* Rotates the arrow on active state*/
}




.navbar-toggler{
	border:0px;
}

@media (min-width: 1400px) and (max-width: 1499px) {
	.mobilemenu, .mobilebtns {
		display: none; /* Hide mobile menu and buttons */
	}
	.desktopmenu {
		display: flex; /* Show desktop menu */
	}

	.desktopmenu .montrealmenu {
		display: flex; /* Show desktop menu */
	}
	.montrealmenu  {
		display:flex;
		padding: 0px 10px 0px 10px;
		}

		.iemenu  {
			display:flex;
			padding: 0px 10px 0px 10px;
			}
	/* Override the default xxl breakpoint to 1310px */
	.navbar-expand-xxl .navbar-collapse {
		display: flex !important;
	  }
	  .navbar-expand-xxl .navbar-toggler {
		display: none !important;
	  }

	  #navbarOffcanvasLg
	  {
display: none;
	  }

	  #ebheader
	  {
	  padding: 30px 64px 16px 64px;
	  }
	  #ebmtlheader
	  {
	  padding: 30px 64px 16px 64px;
	  }


header .navbar a {
display:initial;
/*padding: 0px 10px 0px 10px;*/
}
.menubtns {
	display:flex;
	text-align: end;
	}
.menubtns a {
	width: 120px;
	}
	.elementor{
		padding-top:30px;
	}
	.page-wrap h1 {
		padding-top:80px;
	}

	#menu-montrealmenu,
	#menu-montrealmenu-english,
	#menu-montrealmenu-french

	 {
		list-style-type:none;
		margin:0;
		padding:0;
		display:flex;
		text-decoration:none;
		justify-content: flex-end;
	}
	
	#menu-montrealmenu li a,
	#menu-montrealmenu-english li a,
	#menu-montrealmenu-french li a {
		padding: 10px 10px 10px 10px;
		color:#000000;
		text-decoration:none;
		width: 100%;
		border-radius: 10px;
	}
	
	#menu-montrealmenu li a:hover,
	#menu-montrealmenu-english li a:hover,
	#menu-montrealmenu-french li a:hover
	{
		background:#26B899;
		color:#fff !important;
		transition-duration: 0.5s;
		border-radius: 2px;
	}
	
	#menu-montrealmenu li,
	#menu-montrealmenu-english li,
	#menu-montrealmenu-french li{
		position:relative;
		padding: 10px 10px 10px 10px;
	}
	#menu-montrealmenu,
	#menu-montrealmenu-english,
	#menu-montrealmenu-french {
		list-style-type:none;
		margin:0;
		padding:0;
		display:flex;
		text-decoration:none;
		justify-content: flex-end;
	}
	
	#menu-iemenu li a,
	#menu-iemenu-english li a,
	#menu-iemenu-french li a {
		padding: 10px 10px 10px 10px;
		color:#000000;
		text-decoration:none;
		width: 100%;
		border-radius: 10px;
	}
	
	#menu-iemenu li a:hover,
	#menu-iemenu-english li a:hover,
	#menu-iemenu-french li a:hover{
		background:#26B899;
		color:#fff !important;
		transition-duration: 0.5s;
		border-radius: 2px;
	}
	
	#menu-iemenu li,
	#menu-iemenu-english li,
	#menu-iemenu-french li {
		position:relative;
		padding: 10px 10px 10px 10px;
	}
}

@media (max-width: 1399px) {
	.page-wrap h1 {
		padding-top:100px;
	}
	.desktopmenu {
		display: none; /* Hide desktop menu */
	}
	.mobilemenu, .mobilebtns {
		display: block; /* Show mobile menu and buttons */
	}

	/*header .bdmenu li:hover {
	background:#f2f2f2;
}*/
#ebheader
{
padding: 20px 44px 16px 44px;
}

#ebmtlheader
{
padding: 20px 44px 16px 44px;
}

	header .bdmenu li a:hover {
		color:#26B899;
		background:#f2f2f2;
		max-height: 500px; /* Adjust this value based on your content */
		opacity: 1;
	}
	header .offcanvas-body .navbar-nav .bdmenu {
		display:initial;
		}

		/*transition header edits*/
	header .offcanvas-body .bdmenu li a.active {
	color:#26B899;
	padding: 20px 0px 0px 0px; /* Adjust the padding as needed */
    background-color: #f2f2f2; /* Optional: Highlight active parent item */
	transition-duration: 1s;
}

header .bdmenu li .sub-menu a:hover {
    background: #f2f2f2; /* Highlight the hovered submenu item */
    color: #26B899;
}
	header .offcanvas-body .bdmenu li .sub-menu {
		position:initial;
		width: initial;
		box-shadow:none;
		max-height: 0;
    	overflow: hidden;
    	transition: max-height 0.5s ease-out;
	}

	header .bdmenu li.active .sub-menu {
		max-height: 500px; /* Adjust this to fit your submenu content */
		opacity: 1;
		overflow: visible; /* Ensure all content is visible */
	}
	
	header .offcanvas-body .navbar-nav .bdmenu li.active .sub-menu {
		max-height: 1000px; /* Adjust this value based on your content */
		opacity: 1;
		}

		header .bdmenu li.menu-item-has-children.open > .sub-menu,
		header .bdmenu li.menu-item-has-children.active > .sub-menu {
		max-height: 500px; /* Adjust this value based on your content */
		opacity: 1;
	}
	header .bdmenu li .sub-menu {
		position: relative;
		z-index: 1;
		top: 100%; /* Place submenu below the parent */
		left: 0; /* Align submenu with parent */
		background: #fff;
		width: 100%; /* Match the width of the parent */
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
		margin: 0;
		padding: 0;
		list-style-type: none;
		transition: max-height 0.5s ease-out, opacity 0.3s ease-out;

	}
	header .bdmenu li.menu-item-has-children:hover > .sub-menu {
		background: #fff; /* Ensure submenu background overlaps parent hover */
		width: auto; /* Adjust width if needed */
		min-width: 200px; /* Set a minimum width to avoid shrinking */
	}

	header .bdmenu li {
		padding: 20px;
	}
	header .navbar-nav a  {
		display:initial;
	}
	
	.elementor{
		padding-top:80px;
	}

	.menubtns {
		width: 100%;
		display: flex;
		}
		.menubtns a  {
			grid-column-gap: 16px;
			grid-template-columns: auto auto;
			width: -webkit-fill-available;
			padding: 0px 10px 0px 10px;
		}

	header #menu-montrealmenu-1 li a:hover,
	header #menu-montrealmenu-1 li a:hover{
		color:#26B899;
		background:#f2f2f2;
		max-height: 500px; /* Adjust this value based on your content */
		opacity: 1;
		background-clip: padding-box; 
  box-shadow: inset 0 0 10px #f2f2f2f2; 
	}

		/*transition Montreal and IE header edits*/
	header .offcanvas-body #menu-montrealmenu-1 li a.active,
	header .offcanvas-body #menu-iemenu-1 li a.active {
	color:#26B899;
	padding: 20px 0px 0px 0px; /* Adjust the padding as needed */
    background-color: #f2f2f2; /* Optional: Highlight active parent item */
	background-clip: padding-box; 
	box-shadow: inset 0 0 10px #f2f2f2f2; 
	transition-duration: 1s;
}

	header #menu-montrealmenu-1 li,
	header #menu-iemenu-1 li {
		padding: 20px;
	}
	header #menu-montrealmenu-1,
	header #menu-iemenu-1 {
		list-style-type:none;
		margin:0;
		padding:0;
		display:flex;
		justify-content: flex-end;
	}
	header #menu-montrealmenu-1 li a,
	header #menu-iemenu-1 li a {
		padding: 10px 10px 10px 10px;
		color:#000000;
		text-decoration:none;
		width: 100%;
		border-radius: 10px;
	}

}




@media (min-width: 1500px) {
	.mobilemenu, .mobilebtns {
		display: none; /* Hide mobile menu */
	}
	.desktopmenu {
		display: flex; /* Show desktop menu */
	}

	.desktopmenu .montrealmenu {
		display: flex; /* Show desktop menu */
	}

	.montrealmenu  {
		display:flex;
		/*padding: 0px 10px 0px 10px;*/
		}

		.desktopmenu .iemenu {
			display: flex; /* Show desktop menu */
		}
	
		.ielmenu  {
			display:flex;
			/*padding: 0px 10px 0px 10px;*/
			}

	/* Override the default xxl breakpoint to 1310px */
	.navbar-expand-xxl .navbar-collapse {
		display: flex !important;
	  }
	  .navbar-expand-xxl .navbar-toggler {
		display: none !important;
	  }

	  #navbarOffcanvasLg
	  {
display: none;
	  }

	  #ebheader
	  {
	  padding: 30px 64px 16px 64px;
	  }

	  #ebmtlheader
	  {
	  padding: 30px 64px 16px 64px;
	  }

header .navbar a {
display:initial;
padding: 0px 10px 0px 10px;
}

.menubtns {
	display:flex;
	text-align: end;
	}
.menubtns a {
	width: 120px;
	}
	.elementor{
		padding-top:30px;
	}

	#menu-montrealmenu,
	#menu-montrealmenu-english,
	#menu-montrealmenu-french {
		list-style-type:none;
		margin:0;
		padding:0;
		display:flex;
		text-decoration:none;
		justify-content: flex-end;
	}
	
	#menu-montrealmenu li a,
	#menu-montrealmenu-english li a,
	#menu-montrealmenu-french li a {
		padding: 10px 10px 10px 10px;
		color:#000000;
		text-decoration:none;
		width: 100%;
		border-radius: 10px;
	}
	
	#menu-montrealmenu li a:hover,
	#menu-montrealmenu-english li a:hover,
	#menu-montrealmenu-french li a:hover {
		background:#26B899;
		color:#fff !important;
		transition-duration: 0.5s;
		border-radius: 2px;
	}
	
	#menu-montrealmenu li,
	#menu-montrealmenu-english li,
	#menu-montrealmenu-french li {
		position:relative;
		padding: 10px 10px 10px 10px;
	}

	.navbar-nav .iemenu,
	.navbar-nav .iemenu-english
	.navbar-nav .iemenu-french {
		list-style-type:none;
		margin:0;
		padding:0;
		display:flex;
		text-decoration:none;
		justify-content: flex-end;
	}
	
	#menu-iemenu li a,
	#menu-iemenu-english li a, 
	#menu-iemenu-french li a  {
		padding: 10px 10px 10px 10px;
		color:#000000;
		text-decoration:none;
		width: 100%;
		border-radius: 10px;
	}
	
	#menu-iemenu li a:hover,
	#menu-iemenu-english li a:hover,
	#menu-iemenu-french li a:hover {
		background:#26B899;
		color:#fff !important;
		transition-duration: 0.5s;
		border-radius: 2px;
	}
	
	#menu-iemenu li,
	#menu-iemenu-english li,
	#menu-iemenu-french li {
		position:relative;
		padding: 10px 10px 10px 10px;
	}
}

	
/*Footer section, everything below focuses on the footer elements*/

/*Pre Footer*/

#prefoot {
	padding:100px 200px;
	background:#F4F8FA;
}
#hubspotform {
		padding: 50px;
		width: 80%;
		margin: auto;
		bottom: 0;
		background: #fff;
		box-shadow: 0px 7px 20px 2px gray;
	}
	#hubspotform.col{
		background: #fff;
		border: 1px solid #333;
		box-shadow: 0px 7px 20px 2px gray;	
	}


/*Footer*/
.foot {
	padding: 16px 64px 16px 64px;
    bottom: 0px;
} 

@media only screen and (max-width: 700px) {
#prefoot {
	padding: 30px 20px;
}
.footcol{
	display: none;
	}
}

/*Mobile Footer - Hide Desktop Footer*/
@media (min-width: 701px) and (max-width: 1100px) {
	.footcol{
	display: none;
	}
	#prefoot {
		padding: 50px 20px;
	}
	}

	/*Desktop footer - Hide Mobile Footer*/
	@media only screen and (min-width: 1101px) {
	.footmobile{
		display: none;
		}	

	.footcol {
	display:flex;
} 
}

.footcol a,
.footcol #footer-widget1 ul,
.footcol #footer-widget1 ul li,
.footcol #footer-widget2 ul,
.footcol #footer-widget2 ul li,
.footcol #footer-widget3 ul,
.footcol #footer-widget3 ul li,
.footcol #footer-widget4 ul,
.footcol #footer-widget4 ul li,
.footcol #footer-widget5 ul,
.footcol #footer-widget5 ul li{
	color:#000000;
	text-decoration:none;
	list-style-type: none;
	padding-left:0px;
}


.footcol a:hover,
.footcol #footer-widget1 ul:hover,
.footcol #footer-widget1 ul li:hover,
.footcol #footer-widget2 ul:hover,
.footcol #footer-widget2 ul li:hover,
.footcol #footer-widget3 ul:hover,
.footcol #footer-widget3 ul li:hover,
.footcol #footer-widget4 ul:hover,
.footcol #footer-widget4 ul li:hover,
.footcol #footer-widget5 ul:hover,
.footcol #footer-widget5 ul li:hover{
	color:#26B899;
}

.footcol #footer-widget1 h2,
.footcol #footer-widget2 h2,
.footcol #footer-widget3 h2,
.footcol #footer-widget4 h2,
.footcol #footer-widget5 h2
{
    font-size: 1rem;
}

.foot .pp a{
	color:#000000;
	text-decoration:none;
	font-weight: bolder;
	margin: 0px 10px 10px 5px;
}

.foot .pp a:hover{
	background-color:#E2E7EB;
}

.foot .pp li:first-child a{
	margin-left: 0px;
}

.foot .socials img{
	width: 24px;
	margin: 10px;
}

.copyright{
	padding-top: 60px;
    padding-bottom: 40px;
}
.pp{
	padding-top:40px;
}
.topfoot{
	padding-top:60px;
	padding-bottom:40px;
}
.footcol{
	padding-bottom: 32px;
}
.footcol .pp a:hover {
	background-color: #333;
}

.footcol p a:hover {
	color:#26B899;
}

.widget {
	list-style-type:none;
	margin:0;
	padding:0;
}

.footmobile .bdmenu li
{
	list-style-type:none;
	color:#000000;
	text-decoration:none;
margin: 0px;
}

.footmobile .bdmenu li a
{
	list-style-type:none;
	color:#000000;
	text-decoration:none;
	border-bottom: 1px solid #000000;
	display: flex;
}

.footmobile ul  
{
    padding-left: 0px;
}

.footmobile .bdmenu li .sub-menu {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.9s ease, opacity 0.9s ease;
	left: 0;
	background: #fff;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-radius: .5rem;
}

.footmobile .bdmenu li .sub-menu a {
	padding: .25rem 0rem;
	text-align: center;
	display: block;
	text-decoration: none;
	border-bottom: 0px;
}

.footmobile .bdmenu li .sub-menu a:hover {
	color: #26B899;
	background-color: #fff;
}

.footmobile .bdmenu > .menu-item-has-children:hover > .sub-menu,
.footmobile .bdmenu .menu-item-has-children:hover > .sub-menu {
	max-height: 200px; /* Adjust this value to be enough to show the submenu items */
	opacity: 1;
}

.footmobile .bdmenu .sub-menu li .sub-menu {
	top: 0;
	left: 100%;
}


.hubspot .ui-app .hubspot-disable-focus-styles{
	display: none;
}

.wpml-ls-legacy-dropdown-click {
    width:initial}


	
